aws/.aws/cli/cache
aws/.aws/sso/cache
docker/.docker/config.json
kube/.kube/cache
kube/.kube/kubens
kube/.kube/kubectx
.DS_Store
bin/.local/bin/vectorcode
bin/.local/bin/vectorcode-mcp-server
bin/.local/bin/vectorcode-server
bin/.local/bin/hererocks
/bin/.local/bin/mcp-text-editor
/bin/.local/bin/mcp-shell-server
/bin/.local/bin/trash
/bin/.local/bin/trash-empty
/bin/.local/bin/trash-list
/bin/.local/bin/trash-put
/bin/.local/bin/trash-restore
/bin/.local/bin/trash-rm
/yazi/.config/yazi/flavors/catppuccin-mocha.yazi
/yazi/.config/yazi/plugins
/yazi/.config/yazi/package.toml
/aws/.aws/amazonq
/bin/.local/bin/jan
/bin/.local/bin/ocx
/bin/.local/bin/anki_deck_from_text
/bin/.local/bin/claude
/ssh/.ssh/known_hosts
/ssh/.ssh/known_hosts.old
