aws/.aws/cli/cache
aws/.aws/sso/cache
docker/.docker/config.json
kube/.kube/cache
kube/.kube/kubens
kube/.kube/kubectx
.DS_Store
bin/.local/bin/vectorcode
bin/.local/bin/vectorcode-mcp-server
bin/.local/bin/vectorcode-server
