
# --- OpenEMS Java Style for Uncrustify ---

#---- Indentation ----#
indent_with_tabs                = 1    # Use tabs, not spaces
indent_columns                  = 4    # Tab = 4 columns

indent_switch_case              = 1    # Indent 'case' in 'switch' (matches OpenEMS/Checkstyle)
indent_case_brace               = 1
indent_class                    = 1
indent_namespace                = 1
indent_extern                   = 1
indent_func_def_force_col1      = false

indent_brace                    = 1
indent_brace_open               = 1
indent_brace_close              = 1
indent_block_comment            = 1

#---- Braces ----#
nl_before_func_body             = add   # Allman style braces for functions/classes
nl_before_if                    = leave
nl_brace_if                     = force_nl
nl_brace_while                  = force_nl
nl_brace_for                    = force_nl
nl_brace_do                     = force_nl
nl_brace_else                   = force_nl
nl_brace_try                    = force_nl
nl_brace_catch                  = force_nl
nl_brace_finally                = force_nl
nl_brace_class                  = force_nl
nl_brace_struct                 = force_nl
nl_brace_enum                   = force_nl
nl_brace_anon_func              = force_nl

#---- Spacing ----#
sp_arith                        = force        # Spaces around arithmetic operators
sp_assign                       = force
sp_bool                         = force
sp_compare                      = force
sp_after_type                   = force        # space: "int x"
sp_inside_paren                 = remove       # no space in ( )
sp_func_call_paren              = remove
sp_before_sparen                = force        # "if (" etc.

#---- Tabs & Alignment ----#
align_var_def_colon             = false # avoid aligning colons
align_func_params               = false
align_on_assign                 = false # don't align equals signs
align_var_def_gap               = false
align_pp_define_gap             = false
align_func_throws_gap           = false

#---- Formatting ----#
max_line_length                 = 120          # Max line length
code_width                      = 120

nl_func_decl_args               = force
nl_func_paren_args              = ignore
nl_func_def_args                = force
nl_func_call_args               = ignore

nl_class_brace                  = force_nl
nl_elseif_brace                 = force_nl
nl_catch_brace                  = force_nl
nl_finally_brace                = force_nl

#---- Comments ----#
cmt_indent_multi                = true
cmt_c_nl_end                    = true

#---- Other ----#
eat_blanks_after_open_brace     = true
eat_blanks_before_close_brace   = true

#---- Language ----#
lang                            = JAVA
